.jumbotron {
  background-image: url("img/me-cover.jpg");
  background-size: cover;
  margin-top: 3em;
}

.jumbotron h1 {
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.jumbotron p {
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.nav.navbar-nav li a {
  color: black;
  font-size: 1.3em !important;
}

.row img {
  width: 850px;
}

.footer {
  padding: 2em;
}